@use '../../../../../styles/variables';

.fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__checkbox {
        display: flex;
        gap: 10px;
        align-items: center;

        &_input {
            background-color: variables.$button-grey;
            appearance: none;
            border-radius: 8px;
            width: 25px;
            height: 25px;

            &:checked {
                background-color: variables.$orange;
                background-image: url('../../../../../vendor/images/icons/radioButton/check.svg');
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &_label {
            font-weight: 400;
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__title {
        color: variables.$grey;
    }

    &__items {
        display: flex;
        flex-direction: column;

        &_sauce {
            gap: 8px;
        }

        &_additive {
            gap: 12px;
        }

        &_size {
            gap: 8px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__additive {
        gap: 4px;

        &_name {
            color: variables.$black;
        }
    }

    &__additives {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &_item {
            display: flex;
            justify-content: space-between;
        }

        &_name {
            color: variables.$light-gray;
            font-weight: 400;
            font-size: 14px;
        }

        &_price {
            color: variables.$grey;
            font-weight: 400;
            font-size: 14px;
        }
    }

    &__size {
        gap: 4px;

        &_name {
            color: variables.$black;
        }

        &_item {
            display: flex;
            justify-content: space-between;
        }

        &_size {
            color: variables.$light-gray;
            font-weight: 400;
            font-size: 14px;
        }

        &_price {
            color: variables.$grey;
            font-weight: 400;
            font-size: 14px;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 16px;
    }

    &__edit {
        background-image: url('../../../../../vendor/images/icons/buttonIconRound/edit.svg');
        border: none;
        background-color: transparent;
        width: 24px;
        height: 24px;
    }

    &__sauce {
        justify-content: space-between;
        flex-direction: row;

        &_name {
            color: variables.$light-gray;
            font-weight: 400;
            font-size: 14px;
        }

        &_price {
            color: variables.$grey;
            font-weight: 400;
            font-size: 14px;
        }
    }
}
