@use '../../../styles/variables';

.title {
    width: 100%;
    text-align: center;
    padding: 50px 0 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: variables.$black;
}

.fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}

.button {
    position: relative;
    bottom: 25px;
}

.line {
    height: 1px;
    width: 24px;
    border-top: 1px solid variables.$grey-line;
}

.legend {
    display: block;
    padding: 10px 0;

    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 4px 0;
    }

    &__icon {
        width: 20px;
        height: 20px;
        border: 1px solid #{variables.$grey-line};
        border-radius: 20%;

        &_regular {
            background-color: variables.$orange-pale;
        }

        &_override {
            background-image: repeating-linear-gradient(to top right, #{variables.$orange-pale} 10%, #{variables.$orange} 20%);
        }

        &_closed {
            background-color: variables.$orange;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        color: variables.$grey;
    }
}
