@use '../../../styles/variables';

.title {
    width: 100%;
    text-align: center;
    padding: 50px 0 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    color: variables.$black;
}

.fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
}

.line {
    height: 1px;
    width: 24px;
    border-top: 1px solid variables.$grey-line;
}
