@use '../../../styles/variables';
@use 'sass:map';

.admin-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 15px 22px;
    border-radius: 25px 25px 0 0;
    box-shadow: 0 27px 48px -23px rgb(28 39 49 / 100%);
    background-color: variables.$background;
    z-index: map.get(variables.$z-indexes, 'footer');

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 0.3s ease-in-out;
    }

    &__element_container {
        width: 165px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
    }

    &__new-order {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: variables.$orange;
        border-radius: 25px;
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;

        &_icon {
            background-image: url('../../../vendor/images/icons/add-icon-white.svg');
            background-size: cover;
            width: 25px;
            height: 25px;
        }
    }

    &__element_title {
        font-size: 15px;
        font-weight: 400;
        line-height: 1.4;
        color: variables.$black;
    }

    &__element_title_active {
        color: variables.$orange;
    }

    &__icon {
        width: 35px;
        height: 35px;
        border: none;
        background-color: variables.$background;
        cursor: pointer;
    }

    &__orders {
        background-image: url('../../../vendor/images/admin/footer/work-status.svg');
    }

    &__orders_active {
        background-image: url('../../../vendor/images/admin/footer/work-status-active.svg');
    }

    &__stock {
        background-image: url('../../../vendor/images/admin/footer/stock.svg');
    }

    &__stock_active {
        background-image: url('../../../vendor/images/admin/footer/stock-active.svg');
    }

    &__client {
        background-image: url('../../../vendor/images/admin/footer/client.svg');
    }

    &__client_active {
        background-image: url('../../../vendor/images/admin/footer/client-active.svg');
    }

    &__food {
        background-image: url('../../../vendor/images/admin/footer/food.svg');
    }

    &__food_active {
        background-image: url('../../../vendor/images/admin/footer/food-active.svg');
    }

    &__basket {
        background-image: url('../../../vendor/images/admin/footer/basket.svg');
    }

    &__basket_active {
        background-image: url('../../../vendor/images/admin/footer/basket-active.svg');
    }
}
