@use '../../../../styles/variables';

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
}

.category {
    border: 1px solid variables.$grey-line;
    border-radius: 20px;

    &__image {
        border-radius: 20px 20px 0 0;
        width: 150px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__name {
        padding: 11px 10px;
    }
}
