@use '../../styles/variables';

.categories {
    display: flex;
    gap: 8px;
    padding: 4px 8px 6px;
    position: fixed;
    left: 12px;
    bottom: 110px;
    background-color: variables.$button-grey;
    max-width: calc(100% - 12px);
    overflow-x: auto;

    &__item {
        padding: 8px;
        border: 1px solid variables.$grey-chevron;
        border-radius: 4px;

        &_selected {
            border-color: variables.$orange;
            color: variables.$orange;
        }
    }

    &__name {
        line-height: 100%;
        font-size: 13px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 10ch;
    }
}
