@use '../../styles/variables';
@use 'sass:map';

.yamap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: map.get(variables.$z-indexes, 'map');

    &__marker {
        height: 30px;
        aspect-ratio: 1;
        cursor: pointer;

        &_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &_name {
            font-size: 12px;
            font-weight: 900;
            color: variables.$orange;
            text-align: center;
        }

        &_active {
            height: 41px;
            aspect-ratio: 0.78;
        }
    }

    &__cluster {
        position: absolute;
        width: 40px;
        height: 40px;
        color: variables.$orange;
        border: 2px solid rgb(255 255 255 / 70%);
        border-radius: 50%;
        background-color: rgb(255 255 255 / 70%);
        box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
        transform: translate(-50%, -50%);
    }

    &__cluster :hover {
        cursor: pointer;
    }

    &__cluster_content {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background-color: currentcolor;
        transform: translate3d(-50%, -50%, 0);
    }

    &__cluster_text {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: variables.$white;
    }
}
